.site-header {

    &__logo {
        padding-left: 1rem;
        font-size: 2rem;
        font-family: Scribble;
        font-weight: 600;
    }

    &__links--padding-left {
        padding-left: 1.5rem;
    }

    &--large {
        transform: scale(2.3) translateY(-3px);
    }

    &--margin-left {
        margin-left: 0.8rem;
    }
}