.site-header {

    &__logo {
        padding-left: 1rem;
        font-size: 2rem;
        font-family: Scribble;
        font-weight: 600;
    }

    &__links--padding-left {
        
        @mixin atSmall {
            padding-left: 1.5rem;
        }
    }

    &__dropdown {

        font-size: 1.8rem;
        transform: translateY(-18px);

        @mixin atSmall {
            font-size: 1rem;
            transform: scale(2.3) translateY(-3px);
        }
    }

    &--margin-left {

        @mixin atSmall {
            margin-left: 0.5rem;
        }
    }

    &__img {

        display: none;

        @mixin atSmall {

            display: inline-block;
            margin-right: 1.5rem;

            img {
                max-height: 50px;
                border-radius: 50%;
            }
        }
    }
}
